.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
  margin: 8% auto;
}

.about-text {
  width: 90%;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: medium;
  margin: 0 auto;
}
.imgcont {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  margin-top: 1rem;
}
.img:nth-of-type(1) {
  width: fit-content;
  border-radius: 5px;
  margin: 0 auto;
}

@media (min-width: 750px) {
  .about-container {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    max-width: 95%;
    margin: 5% auto;
  }
  .about-text {
    width: 70%;
    padding: 3%;
    height: 60vh;
  }
  .about-text p {
    font-size: small;
  }
  .imgcont {
    margin-top: 1rem;
  }
}

@media (min-width: 1050px) {
  .about-container {
    max-width: 65%;
  }
  .about-text {
    width: 50%;
  }
  .about-text p {
    font-size: medium;
  }
  .imgcont {
    margin: 0.5rem auto;
    width: 300px; /* Feste Breite des Containers */
    height: 200px; /* Feste Höhe des Containers */
    overflow: hidden; /* Verhindert, dass das Bild den Container verlässt */
  }
  .img1 {
    border-radius: 5px;
    width: 100%; /* Skaliert das Bild auf die Breite des Containers */
    height: 100%; /* Füllt die Höhe des Containers */
    object-fit: cover;
  }
}
