.contact-container {
  padding: 4rem 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  min-height: min-content;
  margin: 40px auto;
  max-width: 90%;
}

.contact-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50;
}

.p-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

@media (min-width: 950px) {
  .contact-container {
    min-width: min-content;
    max-width: 30%;
    padding: 3.5rem 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    min-height: min-content;
    margin: 8% 60% 0;
  }
}
