.home {
  font-size: medium;
  padding: 1rem;
}
.images {
  display: flex;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.fireman {
  border-radius: 10px;
  width: 25rem;
}

.flame {
  height: 50px;
}
.home-container {
  padding: 20px;
  margin-top: 2rem;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: fit-content;
}

@media (min-width: 950px) {
  .home {
    margin: 6%;
    padding: 1rem;
    font-size: x-large;
  }
  .home-container {
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 40vw;
    height: fit-content;
  }
  .home-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
