.service {
  padding: 4rem 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: min-content;
  margin: 40px auto;
  max-width: 90%;
  font-size: medium;
}
@media (min-width: 750px) {
  .service {
    margin: 8% auto;
    max-width: 60%;
    padding: 4rem 5rem;
  }
}
