.service {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: fit-content;
  margin: 30px auto;
  max-width: 80%;
}
@media (min-width: 750px) {
  .service {
    margin: 60px auto;
  }
}
