@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "SkModernist";
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(49, 48, 48, 0.736);
}

body {
  margin-top: 60px;
  padding: 20px;
}

/* Modernist: https://app.gumroad.com/d/82e41c41ec62865e4abc77a179a36e02 */
@font-face {
  font-family: "SkModernist";
  src: url("/Sk-Modernist-Regular.otf") format("opentype");
}
