:root {
  font-family: "SkModernist";
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin-top: 60px;
  padding: 20px;
}

/* Modernist: https://app.gumroad.com/d/82e41c41ec62865e4abc77a179a36e02 */
@font-face {
  font-family: "SkModernist";
  src: url("/Sk-Modernist-Regular.otf") format("opentype");
}

/* Home */
.images {
  display: flex;
  gap: 2rem;
  justify-content: end;
}
.fireman {
  height: 300px;
  border-radius: 10px;
}
/* .gloria {
  max-height: 250px;
}
.gloriacontainer {
  height: 300px;
  background-color: white;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} */
.flame {
  height: 50px;
}
